{% extends "music/base.html"%}
{% load static %}
{% block css %}{% static 'music/css/ch.css' %}{% endblock %}
{% block 标题 %}下载{% endblock %}
{% block 主页高亮 %}navbar-brand{% endblock %}
{% block 隐藏域 %}
    <input type="hidden" value="{{ ID }}" name="下载">
    <input type="text" name="下载路径" >
{% endblock 隐藏域 %}
{% block 按钮 %}全部下载{% endblock %}
{% block 按钮url %}{% url 'music:全部下载'%}{% endblock 按钮url %}
{% block get %}post{% endblock get %}
{% block 主题 %}

    {% if 警告 %}
    <div class="alert alert-danger" role="alert">
        {{警告}}
    </div>
    {% elif 成功提示 %}
    <div class="alert alert-success" role="alert">
        下载成功！！！
    </div>
    {% endif %}

<table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">序号</th>
          <th scope="col">歌名</th>
          <th scope="col">下载</th>
        </tr>
      </thead>
      <tbody>
        {% for s in a %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
              <td>{{ s.1}}</td>
              <td><a href="http://music.163.com/song/media/outer/url?id={{ s.0 }}" >点击链接Ctrl+S下载</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock 主题 %}