{% extends "music/base.html"%}
{% load static %}
{% block 标题 %}网站后台{% endblock %}
{% block 主页高亮 %}navbar-brand{% endblock %}
{% block 按钮 %}更新数据库{% endblock 按钮 %}
{% block 按钮url %}{% url 'music:更新'%}{% endblock 按钮url %}
{% block 主题 %}

<h1>网站后台</h1>
<a href="{% url 'music:up1' %}">更新华语男歌手</a>
<a href="{% url 'music:up2' %}">更新华语女歌手</a>
<a href="{% url 'music:up3' %}">更新华语乐队</a>
<a href="{% url 'music:up4' %}">更新欧美男歌手</a>
<a href="{% url 'music:up5' %}">更新欧美女歌手</a>
<a href="{% url 'music:up6' %}">更新欧美乐队</a>
<a href="{% url 'music:up7' %}">更新韩国男歌手</a>
<a href="{% url 'music:up8' %}">更新韩国女歌手</a>
<a href="{% url 'music:up9' %}">更新韩国乐队</a>
<a href="{% url 'music:up10' %}">更新日本男歌手</a>
<a href="{% url 'music:up11' %}">更新日本女歌手</a>
<a href="{% url 'music:up12' %}">更新日本乐队</a>
<a href="{% url 'music:up13' %}">更新其他男歌手</a>
<a href="{% url 'music:up14' %}">更新其他女歌手</a>
<a href="{% url 'music:up15' %}">更新其他乐队</a>

{% endblock 主题 %}